body {
    margin: 0px;
}

.header {
    justify-content: center;
    padding: 10px;
    background-color: lightgray;
    display: flex;
}

.title {
    flex: 2;
    text-align: center;
}

.reset-button-container,
.left-menu-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    aspect-ratio: 1;
}